<!DOCTYPE html>
<html>
<head>
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
        td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
        tr:nth-child(even) {
  background-color: #dddddd;
}

    </style>
<title>Test App</title>
</head>
<body>
<!--<table>
    <tr>
    <th>Hospital Name</th>
    <th>Website</th>
    <th>Rating</th>
          <th>Address</th>
  </tr>
        {% for k1, v1 in foobar.items() %}
    <tr>
            {% for k2, v2 in v1.items() %}
        <td>{{v2}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>-->
<table>
    <tr>
    <th>Hospital Name</th>
    <th>Hospital picture</th>
    <th>Rating</th>
          <th>Address</th>
  </tr>
        {% for k1, v1 in foobar.items() %}
    <tr>
            {% for k2, v2 in v1.items() %}
        {% if k2 == "name" %}
        <td>{{v2}}</td>
        {% endif %}

        {% if k2 == "image" %}
        <td><img src="{{v2}}" alt="HTML5 Icon" style="width:128px;height:128px;"></td>
        {% endif %}

        {% if k2 == "rating" %}
        <td>{{v2}}</td>
        {% endif %}

        {% if k2 == "address" %}
        <td>{{v2}}</td>
        {% endif %}

        {% endfor %}
        {% endfor %}
    </table>
</body>
</html>